# Grand Circus DataPy Final Project - Jobs, Employment and Unemployment by State

## Source: U.S Bureau of Labor Statistics
https://www.bls.gov/oes/current/oessrcst.htm

### Imports

In [4]:
from datetime import date, datetime, timedelta

import requests
import pandas as pd
import numpy as np

import tqdm
import time
from sqlalchemy import create_engine

import seaborn as sns
from matplotlib import pyplot as plt
from matplotlib.ticker import FormatStrFormatter

In [5]:
import warnings
warnings.filterwarnings('ignore')

### Importing data file and inspecting data information

In [7]:
pd.options.display.max_columns = None

In [8]:
df = pd.read_excel('../Data/BLS_2022_State_Wages.xlsx')
df.head()

,AREA,AREA_TITLE,AREA_TYPE,PRIM_STATE,NAICS,NAICS_TITLE,I_GROUP,OWN_CODE,OCC_CODE,OCC_TITLE,O_GROUP,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_QUOTIENT,PCT_TOTAL,PCT_RPT,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90,ANNUAL,HOURLY
0,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,2004000,0,1000,1,NaN,NaN,24.34,50620,0.2,10.38,13.48,18.5,28.94,43.25,21580,28030,38470,60190,89950,NaN,NaN
1,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,104280,1,52.034,0.78,NaN,NaN,53.13,110500,0.8,22.92,31.83,46.12,63.53,86.89,47680,66210,95940,132150,180730,NaN,NaN
2,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1011,Chief Executives,detailed,710,13.4,0.355,0.26,NaN,NaN,91.67,190680,4.6,24.48,52.15,65.83,90.64,#,50920,108470,136930,188530,#,NaN,NaN
3,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1021,General and Operations Managers,detailed,36550,2.7,18.239,0.8,NaN,NaN,58,120640,1.9,21.41,31.39,47.17,71.64,105.19,44530,65280,98120,149010,218800,NaN,NaN
4,1,Alabama,2,AL,0,Cross-industry,cross-industry,1235,11-1031,Legislators,detailed,930,8.4,0.464,1.6,NaN,NaN,*,30000,3.2,*,*,*,*,*,17080,18130,20320,35730,57060,True,NaN

In [9]:
df.dtypes

AREA              int64
AREA_TITLE       object
AREA_TYPE         int64
PRIM_STATE       object
NAICS             int64
NAICS_TITLE      object
I_GROUP          object
OWN_CODE          int64
OCC_CODE         object
OCC_TITLE        object
O_GROUP          object
TOT_EMP          object
EMP_PRSE         object
JOBS_1000        object
LOC_QUOTIENT     object
PCT_TOTAL       float64
PCT_RPT         float64
H_MEAN           object
A_MEAN           object
MEAN_PRSE        object
H_PCT10          object
H_PCT25          object
H_MEDIAN         object
H_PCT75          object
H_PCT90          object
A_PCT10          object
A_PCT25          object
A_MEDIAN         object
A_PCT75          object
A_PCT90          object
ANNUAL           object
HOURLY           object
dtype: object

In [10]:
df.isna().sum()

AREA                0
AREA_TITLE          0
AREA_TYPE           0
PRIM_STATE          0
NAICS               0
NAICS_TITLE         0
I_GROUP             0
OWN_CODE            0
OCC_CODE            0
OCC_TITLE           0
O_GROUP             0
TOT_EMP             0
EMP_PRSE            0
JOBS_1000           0
LOC_QUOTIENT        0
PCT_TOTAL       37569
PCT_RPT         37569
H_MEAN              0
A_MEAN              0
MEAN_PRSE           0
H_PCT10             0
H_PCT25             0
H_MEDIAN            0
H_PCT75             0
H_PCT90             0
A_PCT10             0
A_PCT25             0
A_MEDIAN            0
A_PCT75             0
A_PCT90             0
ANNUAL          34958
HOURLY          37408
dtype: int64

### Cleaning data by converting data types, renaming columns, and dropping unneeded columns

In [12]:
def asterisk_to_null(df: pd.DataFrame) -> pd.DataFrame:
    return df.replace({'*': np.nan, '#': np.nan, '**': np.nan})

df = asterisk_to_null(df)

In [13]:
columns_to_convert = [
    'TOT_EMP', 'EMP_PRSE', 'JOBS_1000', 'LOC_QUOTIENT', 'H_MEAN', 
    'A_MEAN', 'MEAN_PRSE', 'H_PCT10', 'H_PCT25', 'H_MEDIAN', 
    'H_PCT75', 'H_PCT90', 'A_PCT10', 'A_PCT25', 'A_MEDIAN', 'A_PCT75', 'A_PCT90']

df[columns_to_convert] = df[columns_to_convert].apply(pd.to_numeric, errors='coerce')

In [14]:
df = df.rename(columns={"AREA_TITLE": "State", "PRIM_STATE": "State Abbreviation", "OCC_TITLE": "Job Title", "O_GROUP": "Occupation Title",
                   "TOT_EMP": "Total Employed", "JOBS_1000": "Employment per 1,000 Jobs", "H_MEAN": "Hourly Mean",
                   "A_MEAN": "Annual Mean", "H_PCT10": "Hourly 10th Percentile", "H_PCT25": "Hourly 25th Percentile",
                    "H_MEDIAN": "Hourly Median", "H_PCT75": "Hourly 75th Percentile", "H_PCT90": "Hourly 90th Percentile",
                    "A_PCT10": "Annual 10th Percentile", "A_PCT25": "Annual 25th Percentile","A_MEDIAN": "Annual Median",
                    "A_PCT75": "Annual 75th Percentile", "A_PCT90": "Annual 90th Percentile"
                  })

In [15]:
df = df.drop(['AREA', 'AREA_TYPE', 'NAICS', 'NAICS_TITLE', 'I_GROUP', 'OWN_CODE', 'OCC_CODE', 'EMP_PRSE',
              'LOC_QUOTIENT', 'PCT_TOTAL', 'PCT_RPT', 'MEAN_PRSE', 'ANNUAL', 'HOURLY'], axis=1)
df.head()

,State,State Abbreviation,Job Title,Occupation Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile
0,Alabama,AL,All Occupations,total,2004000.0,1000.000,24.34,50620.0,10.38,13.48,18.50,28.94,43.25,21580.0,28030.0,38470.0,60190.0,89950.0
1,Alabama,AL,Management Occupations,major,104280.0,52.034,53.13,110500.0,22.92,31.83,46.12,63.53,86.89,47680.0,66210.0,95940.0,132150.0,180730.0
2,Alabama,AL,Chief Executives,detailed,710.0,0.355,91.67,190680.0,24.48,52.15,65.83,90.64,NaN,50920.0,108470.0,136930.0,188530.0,NaN
3,Alabama,AL,General and Operations Managers,detailed,36550.0,18.239,58.00,120640.0,21.41,31.39,47.17,71.64,105.19,44530.0,65280.0,98120.0,149010.0,218800.0
4,Alabama,AL,Legislators,detailed,930.0,0.464,NaN,30000.0,NaN,NaN,NaN,NaN,NaN,17080.0,18130.0,20320.0,35730.0,57060.0

### Reviewing all States which have reported data.

Removing those which are not needed. Mapping each state to its geographical region, creating a new column and assigning the region to the relevant state

In [17]:
print(df["State"].unique())

['Alabama' 'Alaska' 'Arizona' 'Arkansas' 'California' 'Colorado'
 'Connecticut' 'Delaware' 'District of Columbia' 'Florida' 'Georgia'
 'Hawaii' 'Idaho' 'Illinois' 'Indiana' 'Iowa' 'Kansas' 'Kentucky'
 'Louisiana' 'Maine' 'Maryland' 'Massachusetts' 'Michigan' 'Minnesota'
 'Mississippi' 'Missouri' 'Montana' 'Nebraska' 'Nevada' 'New Hampshire'
 'New Jersey' 'New Mexico' 'New York' 'North Carolina' 'North Dakota'
 'Ohio' 'Oklahoma' 'Oregon' 'Pennsylvania' 'Rhode Island' 'South Carolina'
 'South Dakota' 'Tennessee' 'Texas' 'Utah' 'Vermont' 'Virginia'
 'Washington' 'West Virginia' 'Wisconsin' 'Wyoming' 'Guam' 'Puerto Rico'
 'Virgin Islands']

In [18]:
states_to_remove = ["Guam", "Puerto Rico", "Virgin Islands", "District of Columbia" ]
removed_states = df[df["State"].isin(states_to_remove)].index

df = df.drop(removed_states)

In [19]:
usa_regions = {
    "Northeast": ["Maine", "New Hampshire", "Maryland", "Vermont", "Massachusetts", "Rhode Island", "Connecticut", "New York", "Pennsylvania", "New Jersey"],
    "Midwest": ["Ohio", "Michigan", "Indiana", "Illinois", "Wisconsin", "Minnesota", "Iowa", "Missouri", "North Dakota", "South Dakota", "Nebraska", "Kansas"],
    "Southeast": ["Delaware", "Virginia", "West Virginia", "North Carolina", "South Carolina", "Georgia", "Florida", "Kentucky", "Tennessee", "Alabama", "Mississippi", "Arkansas", "Louisiana"],
    "Southwest": ["Texas", "Oklahoma", "New Mexico", "Arizona"],
    "West": ["Colorado", "Wyoming", "Montana", "Idaho", "Washington", "Oregon", "Utah", "Nevada", "California", "Alaska", "Hawaii"]
}

In [20]:
df["USA Region"] = df["State"].map({state: region for region, states in usa_regions.items() for state in states})
df.head()

,State,State Abbreviation,Job Title,Occupation Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile,USA Region
0,Alabama,AL,All Occupations,total,2004000.0,1000.000,24.34,50620.0,10.38,13.48,18.50,28.94,43.25,21580.0,28030.0,38470.0,60190.0,89950.0,Southeast
1,Alabama,AL,Management Occupations,major,104280.0,52.034,53.13,110500.0,22.92,31.83,46.12,63.53,86.89,47680.0,66210.0,95940.0,132150.0,180730.0,Southeast
2,Alabama,AL,Chief Executives,detailed,710.0,0.355,91.67,190680.0,24.48,52.15,65.83,90.64,NaN,50920.0,108470.0,136930.0,188530.0,NaN,Southeast
3,Alabama,AL,General and Operations Managers,detailed,36550.0,18.239,58.00,120640.0,21.41,31.39,47.17,71.64,105.19,44530.0,65280.0,98120.0,149010.0,218800.0,Southeast
4,Alabama,AL,Legislators,detailed,930.0,0.464,NaN,30000.0,NaN,NaN,NaN,NaN,NaN,17080.0,18130.0,20320.0,35730.0,57060.0,Southeast

### Creating a new DataFrame which will contain the occupation summary for every state

In [22]:
df_all_occupations = df[df["Job Title"] == "All Occupations"]
df_all_occupations.head()

,State,State Abbreviation,Job Title,Occupation Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile,USA Region
0,Alabama,AL,All Occupations,total,2004000.0,1000.0,24.34,50620.0,10.38,13.48,18.50,28.94,43.25,21580.0,28030.0,38470.0,60190.0,89950.0,Southeast
736,Alaska,AK,All Occupations,total,306110.0,1000.0,31.79,66130.0,14.20,17.71,25.00,38.44,53.43,29540.0,36830.0,52000.0,79940.0,111140.0,West
1300,Arizona,AZ,All Occupations,total,3031620.0,1000.0,28.18,58620.0,14.05,16.24,21.77,31.49,49.15,29220.0,33770.0,45290.0,65500.0,102230.0,Southwest
2061,Arkansas,AR,All Occupations,total,1230850.0,1000.0,23.35,48570.0,11.79,13.65,17.92,26.44,38.96,24520.0,28400.0,37270.0,55000.0,81030.0,Southeast
2752,California,CA,All Occupations,total,17635840.0,1000.0,35.20,73220.0,15.16,17.38,23.91,40.56,66.01,31520.0,36140.0,49740.0,84370.0,137290.0,West

### Creating a new DataFrame which omits the occupation summary for every state and instead lists all job types

In [24]:
df_jobs = df[df["Job Title"] != "All Occupations"]
df_jobs.head()

,State,State Abbreviation,Job Title,Occupation Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile,USA Region
1,Alabama,AL,Management Occupations,major,104280.0,52.034,53.13,110500.0,22.92,31.83,46.12,63.53,86.89,47680.0,66210.0,95940.0,132150.0,180730.0,Southeast
2,Alabama,AL,Chief Executives,detailed,710.0,0.355,91.67,190680.0,24.48,52.15,65.83,90.64,NaN,50920.0,108470.0,136930.0,188530.0,NaN,Southeast
3,Alabama,AL,General and Operations Managers,detailed,36550.0,18.239,58.00,120640.0,21.41,31.39,47.17,71.64,105.19,44530.0,65280.0,98120.0,149010.0,218800.0,Southeast
4,Alabama,AL,Legislators,detailed,930.0,0.464,NaN,30000.0,NaN,NaN,NaN,NaN,NaN,17080.0,18130.0,20320.0,35730.0,57060.0,Southeast
5,Alabama,AL,Advertising and Promotions Managers,detailed,70.0,0.036,53.60,111490.0,37.87,39.42,47.57,62.48,79.09,78770.0,81990.0,98950.0,129960.0,164510.0,Southeast

### Create new column for job group for each "detail" job, then remove "major" rows

In [26]:
cols = list(df_jobs.columns.values)
cols

['State',
 'State Abbreviation',
 'Job Title',
 'Occupation Title',
 'Total Employed',
 'Employment per 1,000 Jobs',
 'Hourly Mean',
 'Annual Mean',
 'Hourly 10th Percentile',
 'Hourly 25th Percentile',
 'Hourly Median',
 'Hourly 75th Percentile',
 'Hourly 90th Percentile',
 'Annual 10th Percentile',
 'Annual 25th Percentile',
 'Annual Median',
 'Annual 75th Percentile',
 'Annual 90th Percentile',
 'USA Region']

In [27]:
# new column 'Job Type' will be created from a list
newColumnList = []

# iterate through rows to get job type from Job Title for each 'major' job line, add it to the list
for (_, row) in df_jobs.iterrows():
    if row['Occupation Title'] == 'major':
        jobGroup = row['Job Title']
    newColumnList.append(jobGroup)

# create the new column in the DF
# NOTE: this produces a warning, but not an error; the function completes with results as expected.
df_jobs['Job Type'] = newColumnList

# ckeanup: remove now-unnecessary "major" rows
df_jobs = df_jobs[df_jobs['Occupation Title'] != 'major']

# rearrange the columns to put the new one before 'Job Title'.  Also remove (omit) the now unnecessary 'Occupation Title' column
cols = ['State', 'State Abbreviation', 'Job Type', 'Job Title', 'Total Employed', 'Employment per 1,000 Jobs', 'Hourly Mean', 'Annual Mean',
 'Hourly 10th Percentile', 'Hourly 25th Percentile', 'Hourly Median', 'Hourly 75th Percentile', 'Hourly 90th Percentile', 'Annual 10th Percentile',
 'Annual 25th Percentile', 'Annual Median', 'Annual 75th Percentile', 'Annual 90th Percentile', 'USA Region']
df_jobs = df_jobs[cols]

# display the details
df_jobs

,State,State Abbreviation,Job Type,Job Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile,USA Region
2,Alabama,AL,Management Occupations,Chief Executives,710.0,0.355,91.67,190680.0,24.48,52.15,65.83,90.64,NaN,50920.0,108470.0,136930.0,188530.0,NaN,Southeast
3,Alabama,AL,Management Occupations,General and Operations Managers,36550.0,18.239,58.00,120640.0,21.41,31.39,47.17,71.64,105.19,44530.0,65280.0,98120.0,149010.0,218800.0,Southeast
4,Alabama,AL,Management Occupations,Legislators,930.0,0.464,NaN,30000.0,NaN,NaN,NaN,NaN,NaN,17080.0,18130.0,20320.0,35730.0,57060.0,Southeast
5,Alabama,AL,Management Occupations,Advertising and Promotions Managers,70.0,0.036,53.60,111490.0,37.87,39.42,47.57,62.48,79.09,78770.0,81990.0,98950.0,129960.0,164510.0,Southeast
6,Alabama,AL,Management Occupations,Marketing Managers,1430.0,0.712,64.75,134670.0,31.23,39.67,55.25,79.89,105.71,64960.0,82510.0,114910.0,166160.0,219870.0,Southeast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36569,Wyoming,WY,Transportation and Material Moving Occupations,"Packers and Packagers, Hand",480.0,1.773,12.77,26570.0,7.74,10.08,12.88,14.48,17.90,16100.0,20960.0,26780.0,30120.0,37230.0,West
36570,Wyoming,WY,Transportation and Material Moving Occupations,Stockers and Order Fillers,5050.0,18.836,17.82,37070.0,11.84,14.45,17.45,19.67,25.33,24620.0,30050.0,36290.0,40920.0,52690.0,West
36571,Wyoming,WY,Transportation and Material Moving Occupations,"Pump Operators, Except Wellhead Pumpers",160.0,0.585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,West
36572,Wyoming,WY,Transportation and Material Moving Occupations,Wellhead Pumpers,350.0,1.323,29.33,61000.0,16.50,24.75,30.24,34.91,37.28,34320.0,51470.0,62900.0,72600.0,77540.0,West
36573,Wyoming,WY,Transportation and Material Moving Occupations,Refuse and Recyclable Material Collectors,360.0,1.324,19.56,40680.0,13.54,15.02,18.95,22.46,29.14,28150.0,31240.0,39410.0,46730.0,60610.0,West

In [28]:
# Calculating NaN Annual Salary values with Hourly Salary * 40 hours a week * 52 weeks a year per BLS data
df_jobs['Annual Mean'] = df_jobs['Annual Mean'].fillna(df_jobs['Hourly Mean'] * 2080)

# Calculating the opposite of above
df_jobs['Hourly Mean'] = df_jobs['Hourly Mean'].fillna(df_jobs['Annual Mean'] / 2080)

### Creating Supabase connection and loading data into it

In [30]:
DATABASE_URL = 'postgresql://postgres.gouknruvfnjedjxvfpim:fufca5-jUppob-xoncek@aws-0-us-east-2.pooler.supabase.com:6543/postgres'
engine = create_engine(DATABASE_URL)
engine

Engine(postgresql://postgres.gouknruvfnjedjxvfpim:***@aws-0-us-east-2.pooler.supabase.com:6543/postgres)

In [31]:
with engine.connect() as conn:
    df_jobs.to_sql("bls_wage_data_2022", conn, index=False, if_exists='replace')

In [32]:
pd.read_sql('SELECT * FROM bls_wage_data_2022', engine).head()

,State,State Abbreviation,Job Type,Job Title,Total Employed,"Employment per 1,000 Jobs",Hourly Mean,Annual Mean,Hourly 10th Percentile,Hourly 25th Percentile,Hourly Median,Hourly 75th Percentile,Hourly 90th Percentile,Annual 10th Percentile,Annual 25th Percentile,Annual Median,Annual 75th Percentile,Annual 90th Percentile,USA Region
0,Alabama,AL,Management Occupations,Chief Executives,710.0,0.355,91.670000,190680.0,24.48,52.15,65.83,90.64,NaN,50920.0,108470.0,136930.0,188530.0,NaN,Southeast
1,Alabama,AL,Management Occupations,General and Operations Managers,36550.0,18.239,58.000000,120640.0,21.41,31.39,47.17,71.64,105.19,44530.0,65280.0,98120.0,149010.0,218800.0,Southeast
2,Alabama,AL,Management Occupations,Legislators,930.0,0.464,14.423077,30000.0,NaN,NaN,NaN,NaN,NaN,17080.0,18130.0,20320.0,35730.0,57060.0,Southeast
3,Alabama,AL,Management Occupations,Advertising and Promotions Managers,70.0,0.036,53.600000,111490.0,37.87,39.42,47.57,62.48,79.09,78770.0,81990.0,98950.0,129960.0,164510.0,Southeast
4,Alabama,AL,Management Occupations,Marketing Managers,1430.0,0.712,64.750000,134670.0,31.23,39.67,55.25,79.89,105.71,64960.0,82510.0,114910.0,166160.0,219870.0,Southeast